*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif
    ;

}

button{
    cursor: pointer;
}

body{
    background-color: rgb(206, 150, 150);
    color: #0cd49f;
    min-width: 100vh;
}